services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: individuals-keycloak
    command: start-dev --import-realm
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    depends_on:
      keycloak-postgres:
        condition: service_healthy
    networks:
      - individuals-api-network

  keycloak-postgres:
    image: postgres:17
    container_name: keycloak-postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - individuals-api-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  person-service:
    image: postgres:17
    container_name:  person-service-app
    environment:
      POSTGRES_DB:  person-service-app
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/data/person-service-app

networks:
  individuals-api-network:
    driver: bridge

volumes:
  postgres_data: