services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: individuals-keycloak
    command: start-dev --import-realm
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    volumes:
        - ./keycloak/realm-config.json:/opt/keycloak/data/import/realm-config.json
    depends_on:
      keycloak-postgres:
        condition: service_healthy
    networks:
      - individuals-api-network

  keycloak-postgres:
    image: postgres:17
    container_name: keycloak-postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - "5433:5432"
    volumes:
      - keycloak_postgres_data:/var/lib/postgresql/data
    networks:
      - individuals-api-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  postgres-person:
    image: postgres:17
    container_name: postgres-person
    environment:
      POSTGRES_DB: postgres-person
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123
    ports:
      - "5434:5432"
    volumes:
      - person_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d persondb"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - individuals-api-network

  person-service:
    image: person-service:latest
    container_name: person-service
    ports:
      - "8098:8098"
    build:
      context: ./person-service
    pull_policy: build
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres-person:
        condition: service_healthy
    networks:
      - individuals-api-network


networks:
  individuals-api-network:
    driver: bridge

volumes:
  keycloak_postgres_data:
  person_postgres_data: