spring:
  application:
    name: person-service

#  datasource:
#    url: jdbc:postgresql://localhost:5434/postgres-person
#    username: user
#    password: 123
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#        default_schema: public
#        database: postgresql
#server:
#  port: 8082
#auth:
#  service:
#    base-url: http://localhost:8081
#
#feign:
#  client:
#    config:
#      default:
#        connectTimeout: 5000
#        readTimeout: 10000
#        loggerLevel: BASIC
#
#logging:
#  level:
#    org.springframework.web: DEBUG
---
# Профиль: docker
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres-person:5432/postgres-person
    username: user
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    database: postgresql

server:
  port: 8082

auth:
  service:
    base-url: http://individuals-api:8081

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 10000
        loggerLevel: BASIC

logging:
  level:
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true